{{> index}}

<table class="table table-striped">
    <tr>
        <th>Movie Poster</th>
        <th>Movie Title</th>
        <th>Released</th>
        <th>Rated</th>
        <th>Genre</th>
        <th>IMDB Rating</th>
        <th>IMDB ID</th>
    </tr>
    {{#list items}}
        {{#if title}}
        <tr>
            <td>
                <img width="150" height="225" src="{{image}}">
            </td>
            <td>
                {{title}}
            </td>
            <td>
                {{released}}
            </td>
            <td>
                {{rated}}
            </td>
            <td>
                {{genre}}
            </td>
            <td>
                {{rating}}
            </td>
            <td>
                {{id}}
            </td>
        </tr>
        {{/if}}
    {{/list}}
</table>

{{> footer}}